* {
  /* background-color: #6666df; */
  color: #333;
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

.btn {
  width: 180px;
  background-color: rgb(245, 183, 209);
  font-size: 1.5em;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: auto;
  -webkit-box-shadow: 0px 2px 3px 0px rgb(140, 43, 59);
  -moz-box-shadow: 0px 2px 3px 0px rgb(140, 43, 59);
  box-shadow: 0px 2px 3px 0px rgb(140, 43, 59);

  margin: 5px auto;
}

.dark-btn {
  -webkit-box-shadow: 0px 2px 3px 0px rgb(41, 16, 41);
  -moz-box-shadow: 0px 2px 3px 0px rgb(41, 16, 41);
  box-shadow: 0px 2px 3px 0px rgb(41, 16, 41);
  background-color: rgb(190, 177, 247);
}

span {
  margin: auto;
}
.btn:hover {
  background-color: rgb(244, 159, 194);
}
.dark-btn:hover {
  background-color: rgb(172, 156, 242);
}

.btn:active {
  transition: 0.2s;
  transform: translateY(2px);
  -webkit-box-shadow: 0px 1px 2px 0px rgb(99, 32, 44);
  -moz-box-shadow: 0px 1px 2px 0px rgb(99, 32, 44);
  box-shadow: 0px 1px 2px 0px rgb(99, 32, 44);
}
